@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="tabla-personas">
        <div class="fila-datos">
            <div>Cédula</div>
            <div>Nombre</div>
            <div>Edad</div>
            <div>Ciudad</div>
        </div>
        <div class="fila-datos">
            <div>12345678</div>
            <div>María Pérez</div>
            <div>30</div>
            <div>Bogotá</div>
        </div>
        <div class="fila-datos">
            <div>98765432</div>
            <div>Juan García</div>
            <div>25</div>
            <div>Medellín</div>
        </div>
        <div class="fila-datos">
            <div>1070990078</div>
            <div>Daniel Mora</div>
            <div>23</div>
            <div>Facatativá</div>
        </div>

    </div>


</div>
